.dashboard {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 250px; /* Define um tamanho fixo para a sidebar */
  height: 100vh; /* Faz com que ocupe a altura total da tela */
  position: fixed; /* Fixa a sidebar no lado esquerdo da tela */
  left: 0;
  top: 0;
  background-color: #2e0f52; /* Cor de fundo */
  z-index: 1000; /* Garante que fique sobre os outros elementos */
}

.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px); /* Ajusta o conteúdo para ocupar o espaço ao lado da sidebar */
  margin-left: 250px; /* Compensa o espaço ocupado pela sidebar */
  padding: 30px;
  gap: 20px;
}


/* Container para estatísticas e gráfico */
.top-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: start;
}

/* Ajustando o tamanho dos elementos dentro do top-container */
.top-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Garantindo que o gráfico ocupe apenas 1 coluna */
.graph-container {
  grid-column: span 1;
  display: flex;
  justify-content: center;
}

/* Fotos organizadas dentro de um container */
.photos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 33px;
    gap: 30px;
    border-radius: 20px;
    background: #ebebeb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ajustando tamanho das fotos */
.foto-mesa-container,
.fotos-mesas-container {
  flex: 1;
  max-width: 500px;
}



@media screen and (max-width: 1024px) {
  .top-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .photos-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%; /* Ocupa a tela toda */
    height: auto;
    position: relative; /* Deixa de ser fixa */
  }
  .top-container {
    grid-template-columns: 1fr;
  }
  .dashboard-content {
    width: 100%;
    margin-left: 0;
  }
}
