.carousel-container {
  text-align: center;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* Limita a largura para manter o layout organizado */
  margin: auto;
  height: 17vw;
  width: 16vw;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Garante 3 colunas fixas */
  gap: 10px;
  justify-content: center;
}

.photo-item {
  width: 120px; /* Define um tamanho fixo */
  height: 120px; /* Mantém um tamanho quadrado */
  object-fit: cover; /* Corta e ajusta a imagem para preencher sem distorção */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.photo-item:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.mesa-indicators {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  
}

.indicator {
  width: 12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  background-color: lightgray;
  cursor: pointer;
}

.indicator.active {
  background-color: #8C52FF;
  border: 2px solid white;
}



